@define-color background #1a1b26;
@define-color background2 #292e42;
@define-color border #7aa2f7;
@define-color blue #7aa2f7;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color orange #e0af68;
@define-color limon #73daca;
@define-color violet #bb9af7;
@define-color text #000;

* {
  font-family: "RobotoMono Nerd Font Propo", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

#waybar {
  background: transparent;
}

#waybar > box {
  /* border-radius: 10px; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0px 0px 0px 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
  padding: 6px 10px;
  background-color: shade(alpha(@background, 0.6), 1);
  border-bottom: 2px solid shade(alpha(@border, 0.4), 1);
}

window#waybar.hidden {
  opacity: 0.2;
}

label {
  background-color: transparent;
  margin-top: 6px;
  padding: 0px 7px;
  border-radius: 10px;
}

#custom-launcher {
  font-size: 25px;
  padding-left: 10px;
  background-color: transparent;
  color: @blue;
}

#workspaces {
  margin-top: 6px;
  border-radius: 10px;
  padding: 0 7px;
  transition: all 0.2s ease-in-out;
  background-color: @background2;
}

#workspaces label {
  background-color: transparent;
  font-weight: bolder;
  margin: 0px;
  padding: 2px 7px;
  transition: all 0.3s ease-in-out;
}

#workspaces button {
  padding: 4px;
  border-radius: 0;
  font-size: 12px;
  font-family: "RobotoMono Nerd Font";
  transition: all 0.2s ease-in-out;
  color: @blue;
}

#workspaces button:hover {
  background-color: transparent;
  border: none;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

#workspaces button.empty label {
  color: shade(alpha(@blue, 0.4), 1);
}

#workspaces button.active label {
  padding: 2px 20px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  color: shade(alpha(@background2, 0.8), 1);
  background-color: @green;
}

#workspaces button.urgent label {
  color: @red;
}

#window {
  font-size: 13px;
  color: @limon;
}

#pulseaudio {
  color: @violet;
}

#network {
  color: @orange;
}

#cpu {
  color: @blue
}

#memory {
  color: @green;
}

#clock {
  color: @red;
}

#custom-power {
  font-size: 17px;
  padding: 0 10px;
  margin-right: 7px;
  margin-left: 10px;
  background-color: @background2;
  color: @blue;
}
